*{margin:0; padding:0;}
        table{
            width: 200px;
            height: 300px;
            color:white;
            text-align: center;
            font-size: 20px;
            border:0.1;
            border-collapse: collapse;
        }
        .accept{    
            width: 200px;
            height: 50px;
            color:white;
            font-size: 25px;
            background-color: rgb(58, 57, 57);
            font-weight: bolder;
            border: solid black;
            text-align: right;
        }
        .ac{
            width: 150px;
            height: 50px;
            background-color: rgb(85, 84, 84);
            border: solid black;
        }
        .box{
            width: 50px;
            height: 50px;
            border: solid black;
        }
        .gray{
            background-color:gray;
            border: solid black;
        }
        .orange{
            background-color: orange;
            border: solid black;
        }
        .zero{
            width: 100px;
            height: 50px;
            border: solid black;
        }
        table>tr{
            float: left;
        }
        table:after{
            content:"";
            clear:both; 
            display:block;
        }